* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.display {
    background-color: #222;
    color: #fff;
    font-size: 2rem;
    padding: 20px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    border: 1px solid #ddd;
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #f1f1f1;
}

#clear {
    grid-column: span 2;
    background-color: #ff6666;
    color: #fff;
}

#equals {
    grid-column: span 2;
    background-color: #66ff66;
    color: #fff;
}
